name: basic-http-call
on:
  workflow_dispatch:
    inputs:
      CALLING_URL:
        required: true
        type: choice
        options:
          - "google.com"
          - "https://www.google.com/"
          - "https://google.com/"
jobs:
  http-response-valid:
    runs-on: ubuntu-latest
    steps:
      - name: Manual basic-http-call
        run: echo "Initializing http call"
      - name: HTTP Call to validate http response
        run: |
          http_response=$(curl -s -o response.txt -w "%{http_code}" ${{ inputs.CALLING_URL }})
          echo "HTTP Response code is $http_response" 
          if [ $http_response != "200" ]; then
          echo "Error while calling the ${{ inputs.CALLING_URL }}"
          else
          echo "Positive response while calling ${{ inputs.CALLING_URL }}"
          fi


    