name: create_wM_api_gateway_asset
on:
  workflow_dispatch:
    inputs:
      build_env:
        required: true
        description: Select Build environment
        type: choice
        options:
          - dev
          - tst
          - prd
      asset_type:
        required: true
        description: Select Asset Type
        type: choice
        options:
          - apis
          - configurations
      configuration_type:
        required: false
        type: choice
        description: Select Configuration Type if Asset Type is "configurations"
        options:
          - 
          - policies
          - scopes
          - administration
          - aliases
          - packages
          - applications
          - userManagement
      asset_name:
        required: true
        description: Enter Asset Name to be build
        type: string
jobs:
  create-build:
    name: Create build artifact based on input parameters
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v3
      - name: Details of Input parameters
        run: |
          echo Creating Asset Artifact for ${{ inputs.build_env }} environment with 
          echo ${{ inputs.asset_type }} as Asset Type and Asset Name as ${{ inputs.asset_name }}
      - name: zip the file and upload to the path
        run: |
          mkdir ${{ github.workspace }}/testFile
          cp -r ${{ github.workspace }}/src/apis/testFile/* ${{ github.workspace }}/testFile/
          #cd ./testFile
          zip -r ../testFile.zip ./testFile/*
          #Compress-Archive -Path .\artifact\* -DestinationPath .\testFile.zip
      - name: Create GitHub Release
        id: create-new-release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.run_number }}
          release_name: Release ${{ github.run_number }}
      - name: Upload url path
        run: echo ${{ steps.create-new-release.outputs.upload_url }}
      - name: upload the zip file
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-new-release.outputs.upload_url }}
          asset_path: ${{ github.workspace }}/testFile.zip
          asset_name: testFile.zip
          asset_content_type: application/zip
