name: learn-apigw-deployment
on: [push]
env:
  API_NAME: PetStore_2
  POLICY_NAME: SampleGobalPolicy
  ASSET_PATH: ./src/policies
jobs:
  deploy-apigw-assests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Build Script
        run: sh ./bin/build.sh $POLICY_NAME $ASSET_PATH
