name: learn-apigw-deploy
on: [push]
env:
  API_NAME: PetStore_2
  POLICY_NAME: SampleGobalPolicy
  ASSET_PATH: ./src/policies
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, '[wM io apigw]')"
    steps:
      - uses: actions/checkout@v3
      - name: Run Build Script
        run: sh ./bin/build.sh $POLICY_NAME $ASSET_PATH
