name: dynamic-inputs-deploy

on:
  workflow_dispatch:
    inputs:
      ASSET_PATH:
        required: true
        type: string
      POLICY_NAME:
        required: false
        type: string
      API_NAME:
        required: false
        type: string
      IS_POLICY_BUILD:
        required: true
        type: boolean
      IS_API_BUILD:
        required: true
        type: boolean
      IS_CONFIG_BUILD:
        required: true
        type: boolean


jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ inputs.IS_API_BUILD }}
    steps:
      - uses: actions/checkout@v3
      - name: "Read file contents"
        id: apigw-url
        uses: surendra11reddy/pvsr-apigw-github@main
        with:
          file: './src/configurations/myConfigs.yaml'
          key-path: '["apigw-url"]'
      - name: "Read file contents"
        id: username
        uses: surendra11reddy/pvsr-apigw-github@main
        with:
          file: './src/configurations/myConfigs.yaml'
          key-path: '["username"]'
      - name: Deploy API build to target
        run: curl -u ${{ steps.username.outputs.data }}:${{ secrets.WM_IO_PASSWORD }} -F "data=@${{ inputs.ASSET_PATH }}/${{ inputs.API_NAME }}.zip" "${{ steps.apigw-url.outputs.data }}"
