name: dynamic-inputs-deploy

on:
  workflow_dispatch:
    inputs:
      ASSET_PATH:
        required: true
        type: string
      POLICY_NAME:
        required: false
        type: string
      API_NAME:
        required: false
        type: string
      IS_POLICY_BUILD:
        required: true
        type: boolean
      IS_API_BUILD:
        required: true
        type: boolean

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ inputs.IS_API_BUILD }}
    steps:
      - uses: actions/checkout@v3
      - name: Read Config file
        id: config
        uses: ./src/configurations/
        with:
          file: 'myConfigs.yaml'
          key-path: '["apigw-url"]'
      - name: Deploy API build to target
        run: curl -u venkatasurendrareddy.pydela@cognizant.com:KavithaChandrahas@11 -F "data=@${{ inputs.ASSET_PATH }}/${{ inputs.API_NAME }}.zip" "${{steps.config.outputs.apigw-url}}"
