name: learn-github-actions
run-name: ${{ github.actor }} is learning GitHub Actions
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Build Script
        run: sh ./bin/build.sh
          echo Say it Loudlyyyyyyyyyyyy "$Greetings"
        env:
          Greetings: Hello world
        
