name: learn-github-actions
run-name: ${{ github.actor }} is learning GitHub Actions
on: [push]
env:
  DAY_OF_WEEK: Monday
  API_NAME: PetStore_2
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Build Script
        run: sh ./bin/build.sh $API_NAME
      - name: "Say Hello Mona it's Monday"
        if: ${{ env.DAY_OF_WEEK == 'Monday' }}
        run: |
          echo "$Greetings $First_Name. Today is $DAY_OF_WEEK!"
          echo "$First_Name, How are you doing"
          echo "$First_Name, Are you employed???"
        env:
          First_Name: Mona 
          Greetings: Hello
        
