name: learn-github-actions
run-name: ${{ github.actor }} is learning GitHub Actions
on: [push]
env:
  DAY_OF_WEEK: Monday
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    #if: "contains(github.event.head_commit.message, '[General commit]')"
    steps:
      - name: Say Hello Chandrahas it's Monday
        if: ${{ env.DAY_OF_WEEK == 'Monday' }}
        run: |
          echo "$Greetings $First_Name. Today is $DAY_OF_WEEK!"
          echo "$First_Name, How are you doing"
          echo "$First_Name, Are you employed???"
          zip -r ./src/apis/testFile ./testFile.zip
        env:
          First_Name: Chandrahas 
          Greetings: Hello
