name: learn-github-actions
run-name: ${{ github.actor }} is learning GitHub Actions
on: [push]
env:
  zipFileName: testFile.zip
  zipFilePath: ./src/apis/testFile
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - name: zip the artifact
        run: sh ./zipFile.sh $zipFileName $zipFilePath
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: build-artifact
          path: $zipFileName
