name: loop-variables
on:
  workflow_dispatch:
     inputs:
      comma_separated_string:
        required: true
        description: Input the comma separated input variables
        type: string
jobs:
 loop-over-string:
   runs-on: ubuntu-latest
   steps:
     - name: loop over string list
       run: |
         echo ${{ inputs.comma_separated_string }}
         variable= ${{ inputs.comma_separated_string }}
         #IFS=","
         #for i in $variable
         #do
         #   echo "$i"
         #done
         #variable=abc,def,ghij
         for i in $(echo $variable | sed "s/,/ /g")
         do
         # call your procedure/other scripts here below
         echo "$i"
         done
