name: zip-artifacts-using-linux-commands
on: 
  workflow_dispatch:
jobs:
  artifacts-zip:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v3
      - name: zip the content file
        run: zip -r testFile.zip ./src/apis/testFile
      - name: Upload the artificat
        uses: actions/upload-artifact@v2
        with:
          name: build-artifact
          path: ${{ env.zipFileName }}
        run: ls -r    
    